# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/
build/

# env
.env
.env.local
.env.*.local

# data
data/
*.db
*.db-journal
*.db-shm
*.db-wal

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# superpowers brainstorming session artifacts
.superpowers/
